# Client
client/node_modules
client/dist
client/fuse/build

# Server
server/uploads
server/db.sqlite3

# FUSE - Python-fuse fork
fuse/build
fuse/host
fuse/guest

# Heroku
heroku/

# Python cache related stuff
*.pyc

.draft