:root {
  --blue: #273755;
}

#loader {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.header {
  background: var(--blue);
}

.text-primary {
  color: var(--blue);
  /* color: red; */
}

.bg-primary {
  background: var(--blue);
  /* color: red; */
}

.mountpoint-text {
  line-break: anywhere;
}
